$primary-color-dark: #00796b;
$primary-color: #009688;
$primary-color-light: #b2dfdb;
$primary-color-text: #ffffff;
$accent-color: #00bcd4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
