<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Telegram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://t.me/Nabijon_Ibodullayev"
        role="button"
        target="_blank"
      >
        <i class="fab fa-telegram"></i>
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/nabijonibodullayev/"
        role="button"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/inabijon"
        role="button"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3 py-4 footer">
    © 2020 Copyright:
    <a class="text-white text-decoration-none" href="#">Nabijon Ibodullaev</a>
  </div>
  <!-- Copyright -->
</footer>
